.homelight{
    height: 100vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(27, 29, 33); */
    justify-content: center;
    background-image: url('./images/bg.jpg');
    box-sizing: border-box;
    
}
.homedark{
    height: 100vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(27, 29, 33); */
    justify-content: center;
    background-image: url('./images/bgdark.png');
    box-sizing: border-box;
}
.citations{
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.original{
    width: 100%;
    margin: 20px 0px;
    height: 93%;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.orginaltext{
    margin: 0px;
    font-family: sans-serif;
}
.chat{
    height: 100%;
    width: 90%;
    max-width: 1600px;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}
.iframe{
    width: 100%;
    height: 97%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.h1{
    font-size: 20px;
}
.darkchatsection{
    width: 100%;
    margin: 20px 0px;
    height: 95%;
    box-sizing: border-box;
    background-color: #474747;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lightchatsection{
    width: 100%;
    margin: 20px 0px;
    height: 95%;
    box-sizing: border-box;
    background-color: #b3b3b3;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.messages{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question{
    display: flex;
    background-color: rgb(27, 29, 33);
    color: white;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    word-wrap: wrap;
    box-sizing: border-box;
    margin: 0px 10px;
}
.answer{
    display: flex;
    background-color: rgb(27, 29, 33);
    color: white;
    align-items: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    word-wrap: wrap;
    box-sizing: border-box;
    margin: 0px 15px;
}
.question p{
    margin: 0px;
    font-size: 14px;
}
.answer p{
    margin: 0px;
    font-size: 14px;
}
.inputDiv{
    border: 1px solid rgb(0,0,0);
    border-radius: 50px;
    height: 40px;   
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.darkinput{
    background-color: #474747;
    border: none;
    width: 100%;
    outline: none;
    color: white;
}
.lightinput{
    background-color: #b3b3b3;
    border: none;
    width: 100%;
    outline: none;
    color: black;
}

.input::placeholder {
    font-size: 14px;
    color: rgb(200, 200, 200);  /* Light gray color for placeholder */
  }
.switchoff{
    width: 40px;
    height: 22px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.switchon{
    width: 40px;
    height: 22px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}
.balloff{
    background-color: white;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    border-radius: 50%;
}
.ballon{
    background-color: black;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    border-radius: 50%;
}
.darkrecall{
    color: black;
    margin: 0px;
    font-size: 35px;
    font-family: sans-serif;
}
.lightrecall{
    color: white;
    margin: 0px;
    font-size: 35px;
    font-family: sans-serif;
}
.betalight{
    margin: 0px;
    color: white;
    font-size: 12px;
}
.betadark{
    margin: 0px;
    color: black;
    font-size: 12px;
}
.onlycellslight{
    margin: 0px;
    color: white;
    font-size: 12px;
}
.onlycellsdark{
    margin: 0px;
    color: black;
    font-size: 12px;
}
.topmenu{
    display: flex;
    gap: 30px;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 10px; /* height for horizontal scrollbar */
    margin-left: 30px;
}
  
  /* Target the track (the area the thumb slides within) */
  ::-webkit-scrollbar-track {
    background-color: #474747;/* light gray background */
    border-radius: 10px;
  }
  
  /* Target the thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* dark gray */
    border-radius: 10px;
    border: none/* optional: gives a border around the thumb */
  }
  
  /* Hover state for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* darker gray when hovering */
  }
  

@media(max-width: 700px){
    .home{
        flex-direction: column;
        /* height: 100%; */
        /* height: 100%; */
    }
    .chat{
        padding: 5px;
        padding-top: 20px;
        border: none;
        width: 100%;
        height: 88%;
    }
    .chatsection{        
        margin-bottom: 10px;
        overflow-y: auto;
        overflow-x: auto;
    }
    /* .citations{
        height: 300px;
        width: 100%;
        padding-bottom: 0px;
    } */
    /* .original{
        padding: 10px;
        height: 150px;
        overflow-y: auto;
    } */
    .topmenu{
        gap: 10px;
    }
    .h1{
        font-size: 12px;
    }
}