.guidelinesdark {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 24, 38, 1);
    /* overflow-y: hidden; */
}

.guidelineslight {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
}

.navbardark {
    display: flex;
    height: 70px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 24, 38, 1);
    color: white;
}

.navbarlight {
    display: flex;
    height: 70px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    color: black;
}

.options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuicon {
    display: none;
}

.menu {
    display: none;
}

.contentcontainer {
    height: calc(100vh - 80px);
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tablelight {
    height: 90%;
    width: 70%;
    border: 1px solid rgb(100, 100, 100);
}

.tabledark {
    height: 90%;
    width: 70%;
    border: 1px solid rgb(210, 210, 210);

}

.tablecontainer {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.tableheaderlight {
    display: flex;
    padding: 9px 0px;
    border-bottom: 1px solid rgb(100, 100, 100);
    font-weight: bold;
    color: black;
    background-color: rgb(210, 210, 210);
}

.tableheaderdark {
    display: flex;
    padding: 9px 0px;
    border-bottom: 1px solid rgb(100, 100, 100);
    font-weight: bold;
    color: white;
    background-color: rgb(24, 31, 45);
}

.tablecontentlight {
    display: flex;
    padding: 9px 0px;
    color: black;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.tablecontentlight:hover {
    background-color: rgb(229, 229, 229);
}

.tablecontentdark {
    display: flex;
    padding: 9px 0px;
    border-bottom: 1px solid rgb(100, 100, 100);
    color: white;
}

.tablecontentdark:hover {
    background-color: rgb(30, 37, 51);
}

.mobilecontent {
    display: none;
}

.mobiletablecontentdark {
    display: flex;
    padding: 9px 10px;
    border-bottom: 1px solid rgb(100, 100, 100);
    color: white;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.mobiletablecontentlight {
    display: flex;
    padding: 9px 10px;
    border-bottom: 1px solid rgb(100, 100, 100);
    color: black;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0px;
    font-family: sans-serif;
    width: 26%;
    margin-left: 10px;
    font-size: 16px;
}

.date {
    margin: 0px;
    font-family: sans-serif;
    width: 21%;
    font-size: 16px;
}

.status {
    margin: 0px;
    font-family: sans-serif;
    width: 11%;
    font-size: 16px;
}

.link {
    margin: 0px;
    font-family: sans-serif;
    width: 32%;
    font-size: 16px;
}

.option {
    margin: 0px;
    font-family: sans-serif;
    width: 10%;
}

.buttonsdivlight {
    border-top: 1px solid rgb(100, 100, 100);
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    color: black;
}

.buttonsdivdark {
    border-top: 1px solid rgb(100, 100, 100);
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    color: white;
}

.btnlight {
    border: none;
    background-color: rgb(17, 24, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.btndark {
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 800px) {
    .tableheaderdark {
        display: none;
    }

    .tableheaderlight {
        display: none;
    }

    .tablecontentlight {
        display: none;
    }

    .tablecontentdark {
        display: none;
    }

    .mobilecontent {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .tabledark {
        height: 90%;
    }

    .tablelight {
        height: 90%;
    }
}

@media(max-width: 700px) {
    .navbardark {
        padding: 0px 20px;
    }

    .navbarlight {
        padding: 0px 20px;
    }

    .options {
        display: none;
    }

    .menuicon {
        display: inline;
    }

    .menulight {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: 70;
        height: 50px;
        width: 100%;
        background-color: rgba(31, 41, 54, 0.1);
        ;
        font-family: sans-serif;
        font-size: 18px;
        color: dark;
    }

    .menudark {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: 70;
        height: 50px;
        width: 100%;
        background-color: rgb(31, 41, 54);
        font-family: sans-serif;
        font-size: 18px;
        color: white;
    }
}