.homedark{
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 24, 38, 1);
}
.homelight{
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
}
.navbardark{
    display: flex;
    height: 70px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 24, 38, 1);
    color: white;
}
.navbarlight{
    display: flex;
    height: 70px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 220, 220);
    color: black;
}